runtime/wow/xmlroot/items/fileList.dtd

<?xml version="1.0" encoding="utf-8"?>
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT fileList (course*)>
<!ELEMENT course (questionsFile, testFile, studentFile)>
<!ATTLIST course
	courseName CDATA #REQUIRED
>
<!ELEMENT questionsFile (questionsFileName*)>
<!ELEMENT testFile (classic, adaptive)>
<!ELEMENT studentFile (studentFileName*)>
<!ELEMENT questionsFileName (#PCDATA)>
<!ATTLIST questionsFileName
	concept CDATA #REQUIRED
	numberOfQuestions CDATA #REQUIRED
	numberOfAnswersForFile CDATA #REQUIRED
>
<!ELEMENT classic (classicTestFileName*)>
<!ELEMENT adaptive (adaptiveTestFileName*)>
<!ELEMENT studentFileName (#PCDATA)>
<!ELEMENT classicTestFileName (#PCDATA)>
<!ELEMENT adaptiveTestFileName (#PCDATA)>
