runtime/wow/xmlroot/log/test.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT log (user, record*)>

<!ELEMENT user (#PCDATA)>
<!ELEMENT record (accessdate, testname, result*)>
<!ELEMENT accessdate (#PCDATA)>
<!ELEMENT testname (#PCDATA)>
<!ELEMENT result (question, answer+)>
<!ELEMENT question (#PCDATA)>
<!ELEMENT answer (#PCDATA)>
