runtime/wow/author/TestEditor/dtd/fileOfQuestions.dtd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Santi (Particular) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!--Comment describing your root element-->
<!ELEMENT fileOfQuestions (concept, questions)>
<!ATTLIST fileOfQuestions
	fileName CDATA #REQUIRED
	name CDATA #REQUIRED
	course CDATA #REQUIRED
	path CDATA #REQUIRED
	numberOfAnswersForFile CDATA #REQUIRED
>
<!ELEMENT concept EMPTY>
<!ATTLIST concept
	value CDATA #REQUIRED
>
<!ELEMENT questions (question*)>
<!ELEMENT question (enunciate, image, answers, irtParameters, statisticParameters, testFiles?)>
<!ATTLIST question
	codeQuestion CDATA #REQUIRED
>
<!ELEMENT enunciate (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT answers (answer+)>
<!ATTLIST answers
	numberOfCorrect CDATA #REQUIRED
	numberOfAnswers CDATA #REQUIRED
>
<!ELEMENT irtParameters (difficulty, discrimination, guessing)>
<!ELEMENT statisticParameters (exhibitionRate, answerTime, successRate, numberOfUses, numberOfSuccesses)>
<!ELEMENT testFiles (classicTest?, adaptiveTest?)>
<!ELEMENT answer (textAnswer, correct, explanation)>
<!ATTLIST answer
	codeAnswer CDATA #REQUIRED
>
<!ELEMENT difficulty (#PCDATA)>
<!ELEMENT guessing (#PCDATA)>
<!ELEMENT discrimination (#PCDATA)>
<!ELEMENT exhibitionRate (#PCDATA)>
<!ELEMENT answerTime (#PCDATA)>
<!ELEMENT successRate (#PCDATA)>
<!ELEMENT numberOfUses (#PCDATA)>
<!ELEMENT numberOfSuccesses (#PCDATA)>
<!ELEMENT classicTest (classicTestFilePath*)>
<!ELEMENT adaptiveTest (adaptiveTestFilePath*)>
<!ELEMENT textAnswer (#PCDATA)>
<!ELEMENT correct (#PCDATA)>
<!ELEMENT explanation (#PCDATA)>
<!ELEMENT classicTestFilePath (#PCDATA)>
<!ELEMENT adaptiveTestFilePath (#PCDATA)>
